<h1>Travel with Me</h1>
<p>This is the platform where everyone is going to be happy. People who are going to travel around Japan can get authentic and lively information about anything about Japan, which are posted by Japanese people who learn English.</p>



<%= link_to "Post a Column", new_article_path, class: 'btn btn-outline-primary' %>