<h1 class="page-title">Welcome to Dive into Miyazaki</h1>

<div class="btn-groups">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-signup" %> 
    <%= link_to "Log in", new_user_session_path, class: "btn btn-login" %> 
</div>