<h1 class="page-title">All Tags</h1>


<% @tags.each do |tag| %>
    <div class="card text-center mb-3 p-3">
        <h3 class="card-title"><%= tag.name %></h3>
        <p class="card-text"><%= pluralize(tag.articles.count, 'Post') %></p>
        <%= link_to "See All Posts", tag_path(tag.id), class: "card-link" %>
    </div>
<% end %>