
/* 基本色 */
$primary: #bedfd4;
$secondary: #2800bc;
$info: rgb(47,138,206);
$white: #f5f5f5;
$gray: #333;
$light-gray: #888;
$black: #747577;
$green: #249A28;
$light-green: #48bfa7;
$top-white: #fafafa;
$red: #e44f4f;
$blue: #2800bc;
$light-blue: #0cb3d9;
$orange: #e36718;