/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $primary: rgb(146,178,33);
 $secondary: rgb(237,111,55);
 $info: rgb(47,138,206);

 .article-title {
    font-size: 1.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
 }
 .article-date {
    font-size: .9em;
    text-transform: uppercase;
    color: #747577;
    text-align: center;
 }
 .article-body {
    font-size: .95em;
    color: #747577;
    text-align: center;
 }

 
 @import "bootstrap";

