
// articles#index
.card-article {
    border: 2px solid $white;
    position: relative;
    overflow: hidden;
    &.japan {
        border-color: $green;
        &:before {
            content: "Japanese";
            background: $white;
            font-weight: bold;
            font-size: .8rem;
            width: 150px;
            padding: 5px 30px 5px 0;
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            transform: rotate(-45deg) translate(-25px,-25px);
            border-bottom: 2px solid $green;
            border-top: 2px solid $green;
        }
    }
}
.card-article-title {
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    a {
        color: $orange;
    }
    @include tab {
        font-size: 2rem;
    }
    @include sp {
        font-size: 1.6rem;
    }
 }
 .card-article-user {
    font-size: .9rem;
    color: $black;
    text-align: right;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 0;
    @include sp {
        font-size: .7rem;
    }
 }
 .card-article-date {
    font-size: .9em;
    text-transform: uppercase;
    color: $black;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    @include sp {
        font-size: .7rem;
    }
 }
 .card-article-body {
    font-size: .95rem;
    color: $black;
    text-align: center;
}
 .card-article-favorite {
    font-size: .9rem;
    color: $black;
    text-align: right;
}
 .card-article-comment {
    font-size: .9rem;
    color: $black;
    text-align: right;
}
.thumb {
    object-fit: cover;
}

 

// articles#show
 .text-head {
    color: $blue;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.text-body {
    text-align: justify;
    font-size: .95rem;
}

.article-info {
    border-bottom: 3px double rgba(0,0,0,.1);
    list-style-type: none;
    padding: 15px 0;
    margin: 0 0 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.article-info li {
    color: #888888;
    display: inline-block;
    margin: 0;
    font-size: .9rem;
}
.article-info li:not(:last-child)::after {
    content: "・";
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}
.article-image {
    width: 100%;
    margin-bottom: 20px;
}
.article-content {
    text-align: justify;
    font-size: .9rem;
    line-height: 1.8;
    font-weight: 300;
    // border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.article-author {
    font-size: .9rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    text-align: right;
    a {
        text-transform: none;
    }
}


.comments {
    width: 100%;
}

.comment {
    border-bottom: 1px solid #ddd;
}

.comment-form {
    text-align: center;
    margin-bottom: 60px;
    padding: 20px;
    h5 {
        color: $orange;
    }
    textarea {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        text-align: justify;
        padding: 15px;
    }

}
.comment-form-text {
    width: 100%;
    height: 150px;
}